.user-add-post {
  position: fixed;
  right: 27%;
  background-color: rgb(14, 13, 13);
  color: antiquewhite;
  z-index: 1;
  padding: 20px;
  border-radius: 7px;

  > .close {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    right: 10px;
    top: 10px;
  }

  > .form-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;

    > .selected-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 300px;

      > img {
        width: 400px;
        height: 300px;
        border-radius: 7px;
      }
    }

    > .form {
      display: flex;
      flex-direction: column;
      padding-left: 20px;

      > label {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      > input {
        margin-bottom: 10px;
        width: 380px;
        margin: auto;
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid white;
      }
      > button {
        margin: 30px auto;
        width: 100px;
        background-color: rgb(36, 36, 185);
        color: antiquewhite;
        border: 1px solid rgb(39, 39, 214);
        padding: 10px;
        border-radius: 7px;
        &:hover {
          background-color: rgba(36, 36, 185, 0.521);
          cursor: pointer;
        }
      }
    }
  }
}






@media screen and (max-width: 1400px) {
  .user-add-post {
   
    right: 15%;
  
  }
}

@media screen and (max-width: 1100px) {
  .user-add-post {
    padding: 10px;
    bottom: 70px;
    right: 18%;
    width: 400px;
    height: 700px;

    > .form-container {
      flex-direction: column;

      > .selected-image {
        margin-bottom: 30px;

        > img {
          width: 380px;
          height: 300px;
          border-radius: 7px;
        }
      }

      > .form {
        padding-left: 0px;

        > label {
          margin-bottom: 10px;
          margin-top: 10px;
          padding-left: 10px;
        }
        > input {
          margin-bottom: 10px;
          width: 340px;
          margin: auto;
          
       
        }
        > button {
          margin: 30px auto;
          width: 100px;
          
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .user-add-post {
    padding: 10px;
    bottom: 70px;
    left: 1%;
    width: 400px;
    height: 700px;

    > .form-container {
      flex-direction: column;

      > .selected-image {
        margin-bottom: 30px;

        > img {
          width: 380px;
          height: 300px;
          border-radius: 7px;
        }
      }

      > .form {
        padding-left: 0px;

        > label {
          margin-bottom: 10px;
          margin-top: 10px;
          padding-left: 10px;
        }
        > input {
          margin-bottom: 10px;
          width: 340px;
          margin: auto;
          
       
        }
        > button {
          margin: 30px auto;
          width: 100px;
          
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .user-add-post {
    padding: 10px;
    width: 360px;
    height: 700px;
    left: 2%;
    bottom: 70px;

    > .form-container {
      flex-direction: column;

      > .selected-image {
          margin-bottom: 30px;
          width: 360px;
          height: 300px;


        > img {
          width: 350px;
          height: 300px;
          border-radius: 7px;
        }
      }

      > .form {
        padding-left: 0px;

        > label {
          margin-bottom: 10px;
          margin-top: 10px;
          padding-left: 10px;
        }
        > input {
          margin-bottom: 10px;
          width: 320px;
          margin: auto;
          
        }
        > button {
          margin: 30px auto;
          width: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 389px) {
  .user-add-post {
    padding: 5px;
    width: 360px;
    height: 570px;
    left: 1%;
    bottom: 70px;

    > .form-container {
      flex-direction: column;

      > .selected-image {
        width: 350px;
        height: 280px;
        margin-bottom: 0px;


        > img {
          width: 300px;
          height: 280px;
          border-radius: 7px;
        }
      }

      > .form {
        padding-left: 0px;

        > label {
          margin-bottom: 5px;
          margin-top: 5px;
          padding-left: 30px;
        }
        > input {
          margin-bottom: 5px;
          width: 280px;
          margin: auto;
          padding: 5px 10px;
        }
        > button {
          margin: 20px auto;
          width: 100px;
          padding: 10px;
        }
      }
    }
  }
}
