.opacity {
  opacity: 0.5;
}
body{
   background-color: rgb(35, 34, 34);
}
.main {
 
  display: flex;
  flex-direction: column;
  > h1 {
    text-align: center;
    color: aliceblue;
  }

  > .container {
 
    margin-bottom: 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    > .card {
      background-color: rgb(15, 15, 15);
      width: 40%;
      padding-bottom: 40px;
      margin-bottom: 30px;

      > .post {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        border-radius: 5px;

        > .heading {
          display: flex;
          align-items: center;
          position: relative;

          > .profile-pic {
            width: 50px;
            height: 50px;
            border: 1px solid white;
            border-radius: 50%;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            > img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

          > a {
            text-decoration: none;
            color: aliceblue;
            font-weight: 700;
            font-family: cursive;
            font-size: larger;
          }

          > .drop-down {
            z-index: 1;
            position: absolute;
            width: 100px;
            height: 40px;
            background-color: grey;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            > span {
              margin-left: 10px;
            }
          }
        }

        > img {
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
          }
        }

        > .icons {
          margin-top: 10px;
          > span {
            margin-right: 15px;
            cursor: pointer;
          }
        }

        > .counts {
          margin-bottom: 10px;
          > span {
            margin-right: 20px;
          }
        }

        > b {
          margin-bottom: 5px;
        }
      }
    }
  }
}



@media screen and (max-width: 1400px) {
  .main {
    > .container {
      > .card {
        width: 50%;

        > .post {
          padding: 10px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    > .container {
      > .card {
        width: 80%;

        > .post {
          padding: 10px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    > .container {
      
      
      > .card {
        width: 100%;

        > .post {
          padding: 10px 10px;
        }
      }
    }
  }
}

.display-none {
  display: none;
}

.comments {
  position: fixed;
  bottom: 20px;
  left: 5px;
  z-index: 1;
  background-color: rgb(44, 42, 41);
  color: aliceblue;
  height: 700px;
  width: 390px;
  border-radius: 5px;
  padding: 0px 10px;

  > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: xx-large;
  }
  > h2 {
    text-align: center;
  }

  > .comment-container {
    

    > .overflow {
     
      overflow-y: auto;
      height: 550px;

      > .comment {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        position: relative;
       

        > .profile-pic {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          border-radius: 50%;
          margin-right: 20px;
          > img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }

        > .drop-down {
          z-index: 1;
          position: fixed;
          width: 100px;
          height: 40px;
          background-color: grey;
          right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          > span {
            margin-left: 10px;
          }
        }
      }
    }

    > .form {
      margin-top: 10px;
      padding-left: 10px;

      > input {
        width: 260px;
        background-color: rgba(0, 0, 0, 0.107);
        color: aliceblue;
        border: 1px solid pink;
        padding: 5px 10px;
        border-radius: 5px;
      }
      > button {
        margin-left: 10px;
        border: 1px solid rgb(29, 58, 225);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgb(29, 58, 225);
        width: 80px;
        color: antiquewhite;
        font-weight: 700;
      }
    }
  }
}
