.profile {
  min-height: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;

  > .profile-container {
    min-height: 500px;
    width: 600px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    > .header {
      display: flex;
      height: 30px;
      padding-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      justify-content: flex-end;
      font-size: x-large;
    }
    > .profile-heading {
      display: flex;
      height: 120px;
      padding: 5px;
      > .container-left {
        display: flex;
        flex-direction: column;
        width: 100px;
        align-items: center;
        > .profile-pic {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid white;
          width: 70px;
          height: 70px;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      > .container-right {
        margin-left: 100px;
        > .headings {
          display: flex;
          > span {
            margin-left: 40px;
          }
        }
        > .counts {
          display: flex;
          > p {
            margin-left: 40px;
            margin-right: 60px;
          }
        }

        > .btns {
          display: flex;
          justify-content: space-around;
          > button {
            background-color: rgba(37, 37, 195, 0.845);
            color: aliceblue;
            border: 1px solid rgba(37, 37, 195, 0.845);
            width: 150px;
            border-radius: 3px;
            padding: 8px 10px;
            cursor: pointer;
          }
        }
      }
    }

    > .bio {
      height: 100px;
      padding: 20px;
    }

    > .post {
      display: flex;
      min-height: 300px;
      justify-content: space-between;
      flex-wrap: wrap;

      > .single-post {
        width: 33%;
        height: 180px;
        margin-bottom: 3px;
        > img {
          width: 100%;
          height: 180px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .profile {
    > .profile-container {
      width: 100%;
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;

      > .profile-heading {
        > .container-right {
          margin-left: 20px;

          > .headings {
            > span {
              margin-left: 30px;
            }
          }

          > .counts {
            > p {
              margin-left: 40px;
              margin-right: 40px;
            }
          }

          > .btns {
            > button {
              width: 120px;
              padding: 5px 10px;
            }
          }
        }
      }

      > .bio {
        padding: 10px;
      }

      > .post {
        padding: 5px;

        > .single-post {
          height: 150px;
          > img {
            width: 100%;
            height: 150px;
          }
        }
      }
    }
  }
}
