.navbar {
  
  display: flex;
  background-color: black;
  color: azure;
  position: relative;
  height: 70px;

  > span {
    margin-top: 10px;
    flex: 1;
    > a {
      color: aliceblue;
      text-decoration: none;
      font-size: 34px;
     font-weight: 800;
      font-family: cursive;
      margin-left: 10px;
    }
  }

  > .add-post {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    > span {
      margin-left: 30px;
    }
  }


}

.footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    margin: 0;
  }
}
