.navbar {
  display: flex;
  background-color: black;
  color: azure;
  position: relative;
  height: 70px;
  justify-content: center;
  
  > .add-post {
    display: flex;
    align-items: center;
    font-size: 30px;

    > span {
      margin-left: 30px;
    }
  }
}



@media screen and (max-width : 500px) {
  .navbar{
    display: none;
  }
}

.menubar {
  display: none;
}


@media screen and (max-width: 500px) {

  .menubar {
    display: flex;
    background-color: black;
    color: azure;
    position: relative;
    height: 70px;
    justify-content: center;
    position: sticky;
    bottom: 0;
  
   
  
    > .add-post {
      display: flex;
      align-items: center;
      font-size: 30px;
  
      > span {
        margin-left: 30px;
      }
    }
  }
}














.footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

  > p {
    margin: 0;
  }
}


@media screen and (max-width: 500px) {
  .footer {
    display: none;
  }
}