.navbar {
  display: flex;
  background-color: black;
  color: azure;
  position: relative;
  height: 70px;

  > span {
    margin-top: 10px;
    > a {
      color: aliceblue;
      text-decoration: none;

      font-size: 34px;
      font-weight: 700;
      margin-left: 20px;
    }
  }

  > ul {
    position: absolute;
    right: 100px;
    top: 10px;
    list-style-type: none;
    display: flex;

    > li {
      margin-left: 30px;

      > a {
        color: aliceblue;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}

.footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    margin: 0;
  }
}
