.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto -16px;
    background-color: #4e4e4e63;
    background-image: url(../assets/pexels-prateek-katyal-2694434.jpg);
    background-size: cover;
    background-position: center;

    .container {
        box-shadow: 0 0 10px rgba(194, 194, 194, 0.1);
        height: 55vh;
        width: 30vw;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        h1 {
            color: rgb(200, 202, 204);
        }

        form {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                color: aliceblue;
                margin-bottom: 5px;

                input {
                    width: 100%;
                    padding: 7px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 16px;
                    box-sizing: border-box;
                    background-color: #6d696941;
                    color: white;
                    margin-bottom: 0;
                }
            }

            .link {
                color: white;
                font-size: 0.8em;
                text-align: center;
                margin: 0;

                a {
                    color: #c98a39;

                    &:hover {
                        color: white;
                    }

                }
            }

            .button {
                justify-content: center;
                align-items: center;
                background-color: black;
                box-shadow: none;
                display: flex;
                margin: 0;

                button {
                    margin: 0;
                    margin-top: 2em;
                    padding: 10px;
                    color: white;
                    background-color: #e68b15;
                    border: #e68b15 1px solid;
                    border-radius: 10px;

                    &:hover {
                        background-color: #e6520d;
                        border: #e6520d 1px solid;
                        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

                    }
                }

            }


        }
    }
}