.register-light {
  background-color: blanchedalmond;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > .container {
    width: 400px;
    height: 400px;
    background-color: aliceblue;

    > h1 {
      text-align: center;
    }

    > form {
      width: 300px;
      margin: auto;

      > label {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;

        > input {
          width: 200px;
          border-radius: 10px;
          padding: 2px 10px;
          margin-left: 20px;
          margin-left: 20px;
        }
      }

      >p{
        color: red;
      }

      > button {
        background-color: green;
        font-size: 18px;
        padding: 5px 20px;
        border-radius: 10px;
        color: aliceblue;
        border: 1px solid black;
        margin-left: 100px;
        margin-top: 100px;
        &:hover{
            background-color: rgba(0, 128, 0, 0.671); 
            cursor: pointer;
       }
      }
    }
  }
}

.register-dark {
  background-color: rgb(7, 7, 7);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;

  > .container {
    width: 400px;
    height: 600px;
    background-color: aliceblue;
  }
}
