.loader {


    
width: 30px;
height: 30px;
border: 5px solid white;
border-radius: 50%;
border-top: 5px solid green;
animation: spin 1s linear infinite;
margin: 50px auto;



}



@keyframes spin {
    0% {
     rotate : 0deg
    }
    100% {
     rotate : 360deg
    }
  }